<nav>
  <h2 class="navtitle">preston?</h2>
  <ul class="navbar">
    {% for item in navigation %}
      <li class="nav-item">
        <a href="{{ item.url }}" class="{% if page.url == item.url %}active{% endif %}">
          {{ item.title }}
        </a>
      </li>
    {% endfor %}
  </ul>
</nav>
